.w {
  max-width: 800px !important; /* or whatever you prefer */
  background-color: #f5f2e7 !important;
}

.highlight {
  background-color: #fff59d; /* soft yellow */
  padding: 0 2px;
  border-radius: 3px;
}
